
@font-face {
    font-family: importFont;
    src: url(https://fonts.google.com/specimen/Barlow+Semi+Condensed);
    
}

body{
    background: radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%)) ;
    color: white;
    font-family: 'roboto';
    font-weight: 600;
    overflow: hidden;
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 410pxo;
    margin: 25px auto;
}

.top-row{
    width: 100%;
    display: flex;
    border: 3px solid rgba(255, 255, 255, 0.60);
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.rps span {
    font-size: 20px;
}

.score {
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 6px;
}
.score span{
    margin: 20px;
    color: hsl(229, 64%, 46%);
}

.score h3{
    text-align: center;
    font-size: 25px;
    color: hsl(229, 25%, 31%);
    margin: 10px;
}

.gameboard{

    width: 100%;
    margin-top: 50px;
    background: url('images/bg-triangle.svg') no-repeat center top;
    background-size: 200px;
    background-position: center;
    height: 400px;
   
}

.rps-items-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.rps-outerCircle {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    z-index: 0;
}

.rpsContainer {
    display: flex;
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 50%;
    z-index: 1;
    align-self: center;
    justify-content: center;
}

.rpsContainer img{
    align-self: center;
    width: 50px;
    height: 60px;
}

.endScreen{
    display: flex;
    justify-content: space-around;
    width: 100%;
}



#paper {
    background: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
}

#scissor{
    background: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
}

#rock{
    background: linear-gradient(hsl(349, 71%, 52%),hsl(349, 70%, 56%));
}

#rulesDiv{
    margin-top: 50px;
}

.rulesDiv {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.rulesDiv h2 {
    margin-top: 50px;
}

.rulesDiv img{
    width: 80%;
    height: 290px;
    margin-top: 150px;
}

.rulesDiv button {
    border: 3px dotted black;
    margin-top: 100px;
}




@media only screen and (min-width: 475px){

    .container {
        max-width: 690px;
    }

    .gameboard {
        align-items: center;
        margin-top: 100px;
        background-size: 350px;
    }
    
    .rps-items-container {
        max-width: 590px;
        margin: 0px auto 30px auto;
    }

    .rps-outerCircle {
        width: 200px;
        height: 200px;
    }
    
    .rpsContainer {
        
        width: 155px;
        height: 155px;
    }
    
    .rpsContainer img{
        width: 80px;
        height: 90px;
    }

    #rulesDiv{
        margin-top: 150px;
    }

    .endScreen {
        max-width: 540px;
        align-items: center;
        /* position: absolute; */
    }

    .endScreen h4 {
        text-align: center;
    }

    .rulesDiv {
        margin-top: 150px;
        max-width: 500px;
        max-height: 500px;
        border-radius: 20px;
    }

    .rulesDiv h2{
        margin: 10px auto;
        float: left;
    }

    .rulesDiv button {
        float: right;
        margin: 10px auto;
        border: 3px dotted black;
    }

    .rulesDiv img {
        height: 330px;
        margin: 30px auto;
    }


}


















.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }